/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/***** Header, Logo, Nav *************/
header {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 68px;
    margin : 0;
    padding: 0;
    align-self: flex-start;
}

.nav-links li:hover{
    border-top-color: var(--main-color);
    color: var(--main-color);
}

.nav-links li {
     border-top: 2px solid transparent;
}

.logo {
    width: 61.09px;
    height: 19px;
    margin: 30px 0px;
}
/*****Fin du header, logo, nav *************/

/*****Début section info-group *************/
.info-group {
    margin-bottom: 35px;
}

.headline {
    height : 53px;
}

.headline p {
    margin: 3px 0px 0px;

}

h1 {
    font-size: 22px;
    margin : 0px;
}

/**Barre de recherche**/
.info-group-recherche {
    margin: 35px 0px 35px;
    display: flex;
    height: 49px;
}

.recherche-icone {
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.recherche-icone i {
    color: #000000;
    font-size: 18px;
}

.recherche-saisie {
    border: 1px solid #F2F2F2;
    width: 195px;
    font-size: 18px;
    font-weight: 700;
    font-family: inherit;
    text-align: center;
    background-color: white;
}

.recherche-saisie::placeholder {
    color: #000000;
}

.bouton-recherche {
    width: 132px;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    border: none;
    font-size: 18px;
    font-weight: 700;
    font-family: inherit;
    color: white;
    cursor: pointer;
}

/**Barre de filtres**/

.info-group-filtres {
   height: 50px;
   width: 758px;
   margin-bottom: 35px;
   display: flex;
   align-items: center;
   gap: 15px;
}

.filtres-titre {
    font-size: 18px;
    margin: 0px;
}

.filtres-liste {
    display : flex;
    gap: 15px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.filtre {
    padding: 13px 17px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
}

.filtre:hover {
  background-color: #DEEBFF;
}

/**i info logement**/

.info-group-logements {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 35px 0px 0px;
}

.logements-icone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    font-size: 11px;
}

/*****Fin section info-group *************/

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    margin-bottom: 30px;
}

.hebergements-cards {
    display: flex;
    height: 207.25px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.hebergements-cards .card {
    height: 207.25px;
    box-sizing: border-box;
}

.hebergements-cards a {
    width: 255.33px;
}

.hebergements-cards img {
    width: 100%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
   height : 64.25px;
}

.hebergements-cards .card-title {
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 15px;
    margin-right: 15px;
}

.hebergements-cards .card-subtitle {
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 15px;
    margin-right: 15px;
}

.hebergements-cards .card-rating {
    margin-left: 15px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}